@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
:root {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --text-color-pink: #f42069;
    --text-color-blue: #00053d;
    --text-color-green: #8b8c64;
    --background-gradient-pink: linear-gradient(
        153deg,
        #f42069 0%,
        #8e133d 100%
    );

    color-scheme: light dark;

    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.summer {
    --text-color: var(--text-color-pink);
}
.fall {
    --text-color: var(--text-color-green);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("/src/assets/images/seasons/fall/DSC08926-min.JPG");
    background-position: center;
    background-size: cover;
    color: var(--text-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: var(--text-color);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.container {
    position: relative;
    width: 1130px;
    height: 750px;
    overflow: hidden;
    background-color: rgba(247, 251, 255, 0.9);
    border-radius: 0.6rem;
    box-shadow: -330px 483px 164px 0px rgba(0, 0, 0, 0),
        -211px 309px 150px 0px rgba(0, 0, 0, 0.01),
        -119px 174px 126px 0px rgba(0, 0, 0, 0.05),
        -53px 77px 94px 0px rgba(0, 0, 0, 0.09),
        -13px 19px 51px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .left-wrapper {
        height: 250px;
        display: flex;
        align-items: center;
        padding: 16px;
    }
    .top {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .left {
        color: var(--text-color);
        grid-column: 1 / 8;
        .bottom {
            justify-content: space-around;
        }
    }
    .right {
        grid-column: 8 / 13;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.grader {
    font-size: 170px;
    font-weight: 300;
    justify-content: space-around;
    line-height: 0.9;
    img {
        height: 100%;
    }
    .feels-like {
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        padding-left: 2rem;
    }
}
.dato {
    padding-inline: 3.5rem;
    font-size: 48px;
    font-weight: 375;
    line-height: 1.1;
}
.måned {
    padding-inline: 4rem;
    font-size: 1.5rem;
    font-weight: 275;
}

.forecast-wrapper {
    font-weight: 400;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 16px;
    gap: 16px;
    border-radius: 8px;
    /* border: 2px inset var(--text-color); */
    box-shadow: -40px 67px 22px 0px rgba(0, 0, 0, 0),
        -26px 43px 20px 0px rgba(0, 0, 0, 0.01),
        -14px 24px 17px 0px rgba(0, 0, 0, 0.05),
        -6px 11px 13px 0px rgba(0, 0, 0, 0.09),
        -2px 3px 7px 0px rgba(0, 0, 0, 0.1);
    img {
        height: 36px;
    }
}

.menu {
    color: var(--text-color);
    position: absolute;
    background-color: transparent;
    top: -5px;
    right: 15%;
}

:popover-open {
    position: relative;
    border: 0;
    width: 200px;
    inset: unset;
    margin: 0;
}

/* Menu */

/* reset */
button {
    all: unset;
}

.DropdownMenuContent,
.DropdownMenuSubContent {
    min-width: 220px;
    background-color: white;
    border-radius: 0.3rem;
    padding: 5px;
    box-shadow: -40px 67px 22px 0px rgba(0, 0, 0, 0),
        -26px 43px 20px 0px rgba(0, 0, 0, 0.01),
        -14px 24px 17px 0px rgba(0, 0, 0, 0.05),
        -6px 11px 13px 0px rgba(0, 0, 0, 0.09),
        -2px 3px 7px 0px rgba(0, 0, 0, 0.1);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
    animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
    animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
    animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
    animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
    font-size: 16px;
    line-height: 1;
    color: var(--text-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    user-select: none;
    outline: none;
}
.DropdownMenuSubTrigger[data-state="open"] {
    background-color: var(--text-color-blue);
    color: white;
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
    color: var(--text-color-blue);
    pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
    background-color: var(--text-color-blue);
    color: white;
}

.DropdownMenuLabel {
    padding-left: 25px;
    font-size: 12px;
    line-height: 25px;
    color: var(--text-color);
}

.DropdownMenuSeparator {
    height: 1px;
    background-color: var(--text-color);
    margin: 5px;
}

.DropdownMenuItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.DropdownMenuArrow {
    fill: white;
}

.IconButton {
    font-family: inherit;
    border-radius: 0.3rem;
    height: 35px;
    padding-inline: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    cursor: pointer;
    color: var(--text-color);
    background-color: white;
    box-shadow: 0 2px 10px var(--text-color-blue);
    transition: all 130ms ease;
}
.IconButton:hover {
    background-color: var(--text-color);
    border-color: white;
    color: white;
}
.IconButton:focus {
    box-shadow: 0 0 0 2px black;
}

.RightSlot {
    margin-left: auto;
    padding-left: 20px;
    color: var(--text-color);
}
[data-highlighted] > .RightSlot {
    color: white;
}
[data-disabled] .RightSlot {
    color: var(--text-color);
}

@keyframes slideUpAndFade {
    from {
        opacity: 0;
        transform: translateY(2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    from {
        opacity: 0;
        transform: translateX(-2px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    from {
        opacity: 0;
        transform: translateY(-2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    from {
        opacity: 0;
        transform: translateX(2px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
